* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  body, html {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--font-color);
    z-index: -10;
  } 
  :root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, .05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
}
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: var(--primary-color);
    --secondary: #f8b195;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  [data-theme="dark"] {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: #c2d0da;
    --bg-color: #232220;
    --heading-color: #eee;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.1);
    --nav-color: #fff;
    --dropdown-color: #121725;
    --iframe-filter: grayscale(100%);
    --bg-light: #282828;
    --bg-grey: #282828;
    --card-bg: #888c96;
    --footer-bg: #000;
  }
  
  a {
    text-decoration: none;
  }
  p {
      font-family: 'Quicksand', sans-serif;
  }
  .p-4 {
    padding: 1.5rem !important;
  }
  .mt-1, .my-1 {
    margin-top: 0.25rem !important;
}
      .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
/* header */
.w3lhny-banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(/img/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.container {
  max-width: 1200px;
}
.w3_hny_header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color:var(--heading-color);
  font-family: 'Quicksand', sans-serif;
}
h1 a.logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.w3menu-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.w3menu-right-content .search-bar {
  display: flex;
  flex: 1;
  margin: 0 auto;
}
.position-relative {
  position: relative!important;
}
.w3menu-right-content .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color:var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: var(--border-radius);
  position: relative;
  right: 0;
  background:var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
}
.w3menu-right-content .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}
.text-center {
  text-align: center!important;
}
.text-center {
  text-align: center!important;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}
.theme-switch input {
  display: none;
}
.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}
.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
  color: #eee;
}

.mode-container i.gg-moon {
  display: block;
  color: #eee;
}

input:checked+.mode-container i.gg-sun {
  display: block;
}

input:checked+.mode-container i.gg-moon {
  display: none;
}
.w3lhny-banner .bannerhny-info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.w3lhny-banner .bannerhny-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.mb-4 {
  margin-bottom: 1.5rem!important;
}
.w3lhny-banner .bannerhny-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
@media (min-width: 992px){
.pr-lg-5, .px-lg-5 {
    padding-right: 3rem !important;
}
}
@media (min-width: 768px){
.mt-md-4, .my-md-4 {
    margin-top: 1.5rem !important;
}
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}
/*  about*/
.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
  padding-top: 3rem !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 992px){}
.col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.about-content-1 p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}
@media (min-width: 992px){
.mt-lg-0, .my-lg-0 {
    margin-top: 0 !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
}
@media (min-width: 992px){
.col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
}
/* intro */
.intro-agent-block {
  background: #ff6600;
}
@media (min-width: 992px){
.pl-lg-0, .px-lg-0 {
    padding-left: 0 !important;
}
}
@media (min-width: 992px){
.pr-lg-0, .px-lg-0 {
    padding-right: 0 !important;
}
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center {
  align-items: center !important;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 992px){
.pl-lg-0, .px-lg-0 {
    padding-left: 0 !important;
}
}
@media (min-width: 992px){
.pr-lg-0, .px-lg-0 {
    padding-right: 0 !important;
}
}
@media (min-width: 992px){
.pt-lg-0, .py-lg-0 {
    padding-top: 0 !important;
}
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}
.agent-block-image {
  background: url(/img/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}
.agent-block-image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.title-subhny.two {
  color: #fff;
}
.title-intro {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.intro-agent-block p {
  color: #ffdfc9;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.mt-3, .my-3 {
  margin-top: 1rem !important;
}
.subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}
.mt-5, .my-5 {
  margin-top: 3rem !important;
}
.subscribe-cat-gd .icon {
  background: #fff;
}
.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, .05);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}
.subscribe-cat-gd:hover .icon span.fa{
  color:#ffc600;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.subscribe-cat .subscribe-cat-link {
  display: block;
  color: #232121;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}
@media (min-width: 992px){
.pl-lg-4, .px-lg-4 {
    padding-left: 1.5rem !important;
}}
@media (min-width: 992px){
.pr-lg-4, .px-lg-4 {
    padding-right: 1.5rem !important;
}}
@media (min-width: 992px){
.pb-lg-3, .py-lg-3 {
    padding-bottom: 1rem !important;
}}
@media (min-width: 992px){
.pt-lg-3, .py-lg-3 {
    padding-top: 1rem !important;
}}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}}
@media (min-width: 768px){
.p-md-5 {
    padding: 3rem !important;
}}
/* categories */
.categories {
  background: var(--bg-grey);
}
.categories .gal-slide-img {
  position: relative;
}
.categories .gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
.categories .gal-slide-grid .gal-slide-img:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}
.categories .gal-slide-img:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.categories .gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
}
.categories .gal-slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}
.categories .gal-slide-info span {
  font-weight: 600;
  color: #ffc600;
  font-size: 18px;
  letter-spacing: 1px;
}
.categories .content-left-sec h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}
.categories .content-left-sec a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.categories .gal-slide-info h4 {
  font-size: 18px;
  color: #fff;
}
@media (min-width: 576px){
.mt-sm-2, .my-sm-2 {
    margin-top: 0.5rem !important;
}}
@media (min-width: 768px){
.p-md-5 {
  padding: 3rem !important;
}
}

@media (min-width: 992px){
.mt-lg-0, .my-lg-0 {
    margin-top: 0 !important;
}
}
@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}}
/* services */
.home-services {
  position: relative;
}
.box-wrap {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color:var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
}
.box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.box-wrap:hover .icon{
  background-color: #ff6600;
}
.box-wrap:hover .icon span{
  color: white;
}
.box-wrap h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: #232121;
}
@media (min-width: 768px){
.mt-md-0, .my-md-0 {
    margin-top: 0 !important;
}}
.deliciousness{
  display: block;
  /* background: rgb(16 15 19 / 66%); */
  background-image: linear-gradient(to right, rgb(5 3 0 / 60%), rgb(5 3 0 / 60%)), url(/img/banner2.jpg);
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.deliciousness h3{
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  text-align: center;
  color: white;
  margin: 0px 360px;
  padding: 100px 0px 0px 0px;
}

.deliciousness .item-menu{
  display: flex;
  justify-content: center;
  margin: 60px;
}

.deliciousness .item-menu .item-1 .btn{
  display: inline-block;
  margin: 0px 30px;
  --bs-btn-padding-x: 45px;
  --bs-btn-padding-y: 15px;
  background-color: #ffffff00;
  border: var(--bs-btn-border-width) solid #ffffff;
  --bs-btn-border-width: 2px;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 1s border 1s color 1s;
}

.deliciousness .item-menu .fa-solid{
  color: #ffffff;
}

.deliciousness .item-menu .item-1 .btn:hover{
  background-color: #ffffff;
  color: #ff6600;
  transition: all 1s;
}

.deliciousness .item-menu .item-2 .btn{
  display: inline-block;
  --bs-btn-padding-x: 45px;
  --bs-btn-padding-y: 15px;
  background-color: #ff6600;
  border: var(--bs-btn-border-width) solid #ff6600;
  --bs-btn-border-width: 2px;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 1s border 1s color 1s;
}

.deliciousness .item-menu .item-2 .btn:hover{
  background-color: #ff6600d0;
  border: var(--bs-btn-border-width) solid #ff6600d0;
  color: #ffffffd0;
  transition: all 1s;
}

[data-countup] {
  font-size: 45px;
  font-weight: 600;
}

.static {
  padding: 30px 100px;
}

.static .list {
  display: flex;
  justify-content: space-between;
}

.static .list .item{
  padding: 40px;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.static .list .item .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

}

.static span.fa {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}

.static .list .item .content p{
  font-size: 19px;
  color: #5b606c;
}




.w3l-videohny{
  display: block;
  height: 1000px;
  background-color: var(--bg-color);
  padding-top: 300px;
  text-align: center;
}

/* .w3l-videohny iframe{
  border-radius: 6px;
} */

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}




.w3l-blogposts{
  background-color: #f7f7f7;
  height: 760px;
}

.w3l-blogposts .title-subhny{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #ff6600;
}

.w3l-blogposts h3{
  font-family: 'Quicksand', sans-serif;
}

.post-pos {
  position: absolute;
  top: 180px;
  left: 20px;
}

.post-pos a{
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: 700;
  background-color: #ff6600;
  border-radius: 20px;
  padding: 2px 20px 3px 20px;
}

.post-pos span{
  color: white;
}

.w3l-blogposts .card .card-body{
  position: absolute;
  text-align: left;
  margin: 240px 0px 0px 0px;
}

.w3l-blogposts .card .card-body a{
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  
}

.w3l-blogposts .card .card-body p{
  color: #818181;
  font-size: 17px;  
  padding: 10px 20px 10px 0px;
}

.w3l-blogposts .card .card-body img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 7px;
}

.w3l-blogposts .card .card-body .p-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w3l-blogposts .card .card-body .p-footer a{
  font-size: 16px;
  font-weight: 700;
}

/* testimonial */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.w3l-agency-test .testimonial-content {
  max-width: 700px;
  margin: auto;
}
.w3l-clients a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.w3l-clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}
.w3l-clients blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}
blockquote q {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}
.testimonial p{
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color:var(--font-color);
  font-family: 'Quicksand', sans-serif;
}
.w3l-clients .testimonial .peopl h3, .w3l-clients .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.w3l-clients .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.w3l-clients p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 0px;
  text-align: center;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  border: none;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
button, input, select, label, li, span {
  -webkit-appearance: none;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}
body a, button, .btn {
  cursor: pointer !important;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
  position: relative;
}
.owl-theme .owl-dots, .owl-theme .owl-nav {
  -webkit-tap-highlight-color: transparent;
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  background: none;
}
.owl-theme .owl-dots .owl-dot{
  padding: 1px 6px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}
.deliciousness{
  display: block;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block;
}
/* footer */
.footer{
  background-color: black;
  text-align: left;
}
.footer p{
  font-size: 17px;
  z-index: 10;
  color: rgb(160, 160, 160);
  margin-top: 35px;
}

.footer .footer-item-ex p{
  margin-top: 0px;
}

.footer .footer-item{
  display: flex;
  justify-content: flex-start;
  padding: 80px 80px 80px 80px;
  border-bottom: rgb(49, 49, 49) solid 0.5px;
}

.footer .footer-item .footer-item-1{
  width: 500px;
  margin: 0px 80px 0px 0px;
}
.footer .footer-item .footer-item-1 a{
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 5px;
  border-radius: 6px;
  background-color: #ffffff;
  color: #ff6600;
  transition: all 0.3s;
  margin-right: 10px;
}

.footer .footer-item .footer-item-1 a:hover{
  background-color: #ff6600;
  color: #ffffff;
  transition: all 0.3s;
}

.footer .footer-item .footer-item-2{
  min-width: 150px;
  margin: 0px 50px 0px 0px;
}

.footer .footer-item .footer-item-3{
  min-width: 150px;
  margin: 0px 60px 0px 0px;
}

.footer .footer-item-extra{
  display: flex;
  justify-content: space-between;
  margin: 0px 80px 0px 80px;
  
}

.footer .footer-item-extra a{
  text-decoration: none;
  color: #ff6600;
}

.footer .footer-item-extra a:hover{
  color: #ffffff;
}

.footer .footer-item-extra p{
  margin: 20px 0px;
}


.footer .footer-item-extra .item-2{
  display: flex;
  justify-content: space-around;
}

.footer .footer-item-extra .item-2 p{
  margin-left: 20px;
}

.footer .footer-item-4 .subscribe input{
  width: 100%;
  padding: 15px 15px;
  border-radius: 6px;
  font-size: 18px;
  border: #ff6600 solid 1px;
}

.footer .footer-item-4 .subscribe .btn{
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  background-color :var(--primary-color);
}

.footer .footer-item-4 .subscribe .btn:hover{
  background-color: #ff6600bd;
  color: #ffffffbd;
}
 #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}
